#app-header {
    font-family: monospace;
    text-align: center;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    max-width: 60em;
    margin: 1em auto;
    padding: 0.1em 0.4em;
    justify-content: center;
}

.level-number {
    min-width: 4em;
}

.centered {
    padding: 1em 0.2em 0.2em 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-message {
    border: 3px solid crimson;
    border-radius: 8px;
    padding: 0.3em;
    margin: 1em;
}
